<div class="row-fluid">
	<div class="span12">
		<h2><%=t :number_title%></h2>
		<p><%=t :number_description%></p>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th colspan="10"><%=t :number_table%></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>일</td>
					<td>이</td>
					<td>삼</td>
					<td>사</td>
					<td>오</td>
					<td>육</td>
					<td>칠</td>
					<td>팔</td>
					<td>구</td>
				</tr>
				<tr>
					<td>零</td>
					<td>一</td>
					<td>二</td>
					<td>三</td>
					<td>四</td>
					<td>五</td>
					<td>六</td>
					<td>七</td>
					<td>八</td>
					<td>九</td>
				</tr>
				<tr>
					<td>십</td>
					<td>백</td>
					<td>천</td>
					<td>만</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>十</td>
					<td>百</td>
					<td>千</td>
					<td>万</td>
					<td>億</td>
					<td>兆</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<p>This is the foundation, enjoy</p>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th colspan="10"><%=t :counter_table%></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>개</td>
					<td><%=t :counter_for_things%></td>
					<td>병</td>
					<td><%=t :counter_for_bottles%></td>
					<td>벌</td>
					<td><%=t :counter_for_clothing%></td>
					<td>대</td>
					<td><%=t :counter_for_vehicles%></td>
				</tr>
				<tr>
					<td>채</td>
					<td><%=t :counter_for_houses%></td>
					<td>동</td>
					<td><%=t :counter_for_buildings%></td>
					<td>장</td>
					<td><%=t :counter_for_paper%></td>
					<td>권</td>
					<td><%=t :counter_for_books%></td>
				</tr>
				<tr>
					<td>명</td>
					<td><%=t :counter_for_people_informal%></td>
					<td>분</td>
					<td><%=t :counter_for_people_formal%></td>
					<td>살</td>
					<td><%=t :counter_for_years_native%></td>
					<td>세</td>
					<td><%=t :counter_for_years_chinese%></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>